@model Component.Form.Model.Page
@{
    ViewData["Title"] = Model.Title;
    int currentPage = ViewBag.CurrentPage;
    int totalPages = ViewBag.TotalPages;
    string formId = ViewBag.FormId;
}

<h2 class="govuk-heading-m">@Model.Title</h2>

@if (ViewBag.Errors != null)
{
    <govuk-error-summary>
        @foreach (var error in ViewBag.Errors)
        {
            <govuk-error-summary-item>@error</govuk-error-summary-item>
        }
    </govuk-error-summary>
}

<form method="POST" enctype="multipart/form-data" asp-controller="Form" asp-action="Submit">
    
    <input type="hidden" name="pageId" value="@Model.PageId" />
    <input type="hidden" name="formId" value="@formId" />
    
    @foreach (var question in Model.Questions)
    {
        <div>
            @if (question.Type == "text")
            {
                <govuk-input name="@question.QuestionId" input-class="govuk-input--width-10">
                    <govuk-input-label is-page-heading="true">
                        @question.Label
                    </govuk-input-label>
                </govuk-input>
            }
            else if (question.Type == "select")
            {
                <govuk-select name="@question.QuestionId">
                    <govuk-select-label is-page-heading="true">
                        @question.Label
                    </govuk-select-label>
                    @foreach (var option in question.Options)
                    {
                        <govuk-select-item value="@option.Key">@option.Value</govuk-select-item>
                    }
                </govuk-select>
            }
            else if (question.Type == "radio")
            {
                <govuk-radios name="@question.QuestionId">
                    <govuk-radios-fieldset>
                        <govuk-radios-fieldset-legend is-page-heading="true">
                            @question.Label
                        </govuk-radios-fieldset-legend>
                        @foreach (var option in question.Options)
                        {
                            <govuk-radios-item value="@option.Key">@option.Value</govuk-radios-item>
                        }
                    </govuk-radios-fieldset>
                </govuk-radios>
            }
            else if (question.Type == "checkbox")
            {
                <govuk-checkboxes name="@question.QuestionId">
                    <govuk-checkboxes-fieldset>
                        <govuk-checkboxes-fieldset-legend is-page-heading="true">
                            @question.Label
                        </govuk-checkboxes-fieldset-legend>
                        @foreach (var option in question.Options)
                        {
                            <govuk-checkboxes-item value="@option.Key">
                                @option.Value
                            </govuk-checkboxes-item>
                        }
                    </govuk-checkboxes-fieldset>
                </govuk-checkboxes>
            }
            else if (question.Type == "textarea")
            {
                <govuk-textarea name="@question.QuestionId">
                    <govuk-textarea-label class="" is-page-heading="true">
                        @question.Label
                    </govuk-textarea-label>
                </govuk-textarea>
            }
            else if (question.Type == "file")
            {
                <input type="file" name="@question.QuestionId" class="form-control"
                       accept="@string.Join(",", question.FileOptions?.AcceptedFormats ?? new List<string>())" />
            }
        </div>
    }

    <govuk-button type="submit" class="btn btn-primary">
        @(currentPage < totalPages ? "Next" : "Submit")
    </govuk-button>
</form>
