@model Component.Form.Model.Component

<govuk-breadcrumbs collapse-on-mobile="true">
    <govuk-breadcrumbs-item asp-controller="Home" asp-action="Index">Home</govuk-breadcrumbs-item>
    <govuk-breadcrumbs-item href="/form/@ViewBag.FormId/edit">Form @ViewBag.FormId</govuk-breadcrumbs-item>
    <govuk-breadcrumbs-item href="/form/@ViewBag.FormId/editPage/@ViewBag.PageId">Page @ViewBag.PageId</govuk-breadcrumbs-item>
    <govuk-breadcrumbs-item>Edit Component</govuk-breadcrumbs-item>
</govuk-breadcrumbs>

<h2 class="govuk-heading-l">Edit Component</h2>

<form asp-action="Edit" method="post" class="govuk-form-group" id="edit-component-form">
    <div class="govuk-form-group">
        <label class="govuk-label" asp-for="QuestionId" id="question-id-label"></label>
        <input class="govuk-input" asp-for="QuestionId" id="question-id-input" />
    </div>
    <div class="govuk-form-group">
        <label class="govuk-label" asp-for="Type" id="type-label"></label>
        <select class="govuk-select" asp-for="Type" id="type-select">
            <option value="text">Text</option>
            <option value="ukaddress">UK Address</option>
            <option value="email">Email</option>
            <option value="phonenumber">Phone Number</option>
            <option value="dateparts">Date Parts</option>
            <option value="select">Select</option>
            <option value="multilineText">Multiline Text</option>
            <option value="radio">Radio</option>
            <option value="checkbox">Checkbox</option>
            <option value="summary">Summary</option>
            <option value="html">HTML</option>
        </select>
        <span asp-validation-for="Type" class="text-danger" id="type-validation"></span>
    </div>
    <div class="govuk-form-group">
        <label class="govuk-label" asp-for="Label" id="label-label"></label>
        <input class="govuk-input" asp-for="Label" id="label-input" />
        <span asp-validation-for="Label" class="text-danger" id="label-validation"></span>
    </div>
    <div class="govuk-form-group">
        <label class="govuk-label" asp-for="Name" id="name-label"></label>
        <input class="govuk-input" asp-for="Name" id="name-input" />
        <span asp-validation-for="Name" class="text-danger" id="name-validation"></span>
    </div>
    @if (Model.Type != "html" && Model.Type != "summary")
    {
        <div class="govuk-form-group">
            <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="labelIsPageTitle-input" name="LabelIsPageTitle" type="checkbox" value="@Model.LabelIsPageTitle">
                    <label class="govuk-label govuk-checkboxes__label" asp-for="LabelIsPageTitle" id="labelIsPageTitle-label">
                        Label is page title
                    </label>
                </div>
            </div>
        </div>
        <div class="govuk-form-group">
            <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="optional-input" name="Optional" type="checkbox" value="@Model.Optional">
                    <label class="govuk-label govuk-checkboxes__label" asp-for="Optional" id="optional-label">
                        Optional
                    </label>
                </div>
            </div>
        </div>
        <div class="govuk-form-group">
            <label class="govuk-label" asp-for="Hint" id="hint-label"></label>
            <input class="govuk-input" asp-for="Hint" id="hint-input" />
        </div>
        @if (Model.Type == "select" || Model.Type == "radio" || Model.Type == "checkbox")
        {
            <div class="govuk-form-group">
                <label class="govuk-label">Options</label>
                <table class="govuk-table">
                    <thead class="govuk-table__head">
                        <tr class="govuk-table__row">
                            <th class="govuk-table__header">Key</th>
                            <th class="govuk-table__header">Value</th>
                        </tr>
                    </thead>
                    <tbody class="govuk-table__body">
                        @foreach (var option in Model.Options)
                        {
                            <tr class="govuk-table__row">
                                <td class="govuk-table__cell">@option.Key</td>
                                <td class="govuk-table__cell">@option.Value</td>
                            </tr>
                        }
                    </tbody>
                </table>
                <a href="/option/@ViewBag.FormId/@ViewBag.PageId/@Model.Name" class="govuk-link" id="manage-options-link">Manage options</a>
            </div>
        }
        <div class="govuk-form-group">
            <label class="govuk-label" id="validation-rules-label">Validation rules</label>
            @if (Model.ValidationRules == null || Model.ValidationRules.Count == 0)
            {
                <p class="govuk-body">No validation rules</p>
            }
            else 
            {
                <table class="govuk-table">
                    <thead class="govuk-table__head">
                        <tr class="govuk-table__row">
                            <th class="govuk-table__header">Expression</th>
                            <th class="govuk-table__header">Error Message</th>
                        </tr>
                    </thead>
                    <tbody class="govuk-table__body">
                        @foreach (var rule in Model.ValidationRules)
                        {
                            <tr class="govuk-table__row">
                                <td class="govuk-table__cell">@rule.Expression</td>
                                <td class="govuk-table__cell">@rule.ErrorMessage</td>
                            </tr>
                        }
                    </tbody>
                </table>
            }
            <a href="/validationRule/@ViewBag.FormId/@ViewBag.PageId/@Model.Name" class="govuk-link" id="manage-validation-rules-link">Manage validation rules</a>
        </div>
    }
    @if (Model.Type == "html")
    {
        <div class="govuk-form-group">
            <label class="govuk-label" asp-for="Content" id="content-label"></label>
            <input class="govuk-input" asp-for="Content" id="content-input" />
        </div>
    }    
    <div class="govuk-form-group">
        <button type="submit" class="govuk-button" id="edit-component-submit">Save</button>
    </div>
</form>